{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="content-wrapper workdetail">
    <section class="content">
        <form id="workform" class="form-inline" action="saveWork" method="post">
            {% csrf_token %}
            <div class="container-fluid" style="padding-top:10px;">
                <div class="card">
                    <div class="card-header h5 sitecolor-bcolor">#New Translation#</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ExampleInputEmail">Email Address</label>
                            <input type="text" id="ExampleInputEmail"/>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <div class="form-group">
                                    <label for="ExampleInputEmail">Email Address</label>
                                    <input type="text" id="ExampleInputEmail"/>
                                </div>
                                <div style="padding:4px; border: 1px solid lightgrey; min-width: 300px;">
                                    <div class="d-inline">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </div>
                                    <div class="d-inline" style="padding-bottom: 6px;">
                                        <select id="lc_tgt" name="lc_tgt" class="form-control select2">
                                            <option value="">&nbsp</option>
                                            {% for vals in langs %}
                                            <option value="{{ vals.lc }}">{{ vals.displaylang }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text info-color" style="color:white;">#Tags#</div>
                                    </div>
                                    <div style="padding:4px; border: 1px solid lightgrey; min-width: 300px;">
                                        <div class="d-inline" style="padding-bottom: 6px;">
                                            <input type="text" class="form-control " id="tags" name="tags" value="" style="width: 100%;  height:100%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <textarea rows="10" class="form-control editableColor prewrap textArea" style="margin-bottom:100px; width:100%; min-height: 200px;" id="wordsOriginal" name='wordsOriginal' oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="tagsinfo" name="tagsinfo" />
        </form>
    </section>
</div>
<div class="modal fade top" id="modalSelectLanguage">
    <div class="modal-dialog modal-side modal-top-right modal-notify modal-success">
        <div class="modal-content">
            <div class="modal-body">
                {% for vals in langs %}
                <span class="badge" data-value="{{ vals.lc }}">{{ vals.displaylang }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
<script>
    var tokens = []
    function submitAction(url) {
        $('#tagsinfo').val(JSON.stringify(tokens))
        $('#workform').submit();
    }
    $(document).ready(function() {
        $("#lc_src").select2({
            placeholder: "Translate From",
            selectOnClose: true,
            theme : 'bootstrap form-control2 editableColor'
        });
        $("#lc_tgt").select2({
            placeholder: "Translate To",
            selectOnClose: true,
            theme : 'bootstrap form-control2 editableColor'
        });
        {#$("#lc_src").on('change.select2', function(){#}
        {#    $('#lc_tgt').val(null).trigger('change');#}
        {#    $('#lc_tgt').empty().select2();#}
        {#    $.ajax("/getTargetLang", {#}
        {#        data: {lc_src: this.value}#}
        {#    }).then(#}
        {#        function success(data) {#}
        {#            $("#lc_tgt").select2({#}
        {#                val : null,#}
        {#                data: data['langs'],#}
        {#                theme : 'bootstrap form-control editableColor'#}
        {#            });#}
        {#        },#}
        {#        function fail(data, status) {#}
        {#            alert('Request failed.  Returned status of ' + status);#}
        {#        }#}
        {#    )#}
        var tags = JSON.parse("{{ tags  | safe | escapejs }}")
        var tagsource = []
        for(var vals of tags){
            tagsource.push(vals.tagname)
        }
        $('#tags')
            .on('tokenfield:createtoken', function (event) {
                var existingTokens = $(this).tokenfield('getTokens');
                $.each(existingTokens, function(index, token) {
                    if (token.value === event.attrs.value){
                        event.preventDefault();
                        return false;
                    }
                })
            })
            .on('tokenfield:createdtoken', function(e) {
                value = e.attrs.value;
                bgcolor = '#aaaaaa';
                for(var tag of tags){
                    if (tag.tagname == value)
                        bgcolor = tag.backgroundcolor;
                }
                $(e.relatedTarget).addClass('badge');
                $(e.relatedTarget).css('background-color', bgcolor);
                var vals = { tagname: value, backgroundcolor: bgcolor }
                tokens.push(vals)
            }).on('tokenfield:removedtoken', function(e) {
                var i = 0;
                for(var tag of tokens){
                    if(tag.tagname == e.attrs.value){
                        tokens.splice(i, 1);
                        break;
                    }
                    i++;
                }
            }).on('tokenfield:edittoken', function(e) {
                e.preventDefault();
            }).tokenfield({
                autocomplete: {
                    source: tagsource,
                    delay: 100
                },
                showAutocompleteOnFocus: true,
                writeable : false
        });
    });
</script>
{% endblock content %}
