<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>Gentelella Alela! | {% block title %}{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="/static/vendors/fontawesome5/css/all.min.css">
        {% endblock stylesheets %}
        <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
        {% endblock head %}
    </head>
    <body class="hold-transition sidebar-mini sidebar-collapse">
    {% block body %}
    <div class="wrapper">
        {% block top_navigation %}
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            {% include "app/top_navigation.html" %}
        </nav>
        {% endblock top_navigation %}
        {% block sidebar %}
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            {% include "app/sidebar.html" %}
        </aside>
        {% endblock sidebar %}
        {% block content %}
        {% endblock content %}

        {% block footer %}
        <footer class="main-footer">
            {% include "app/footer.html" %}
        </footer>
        {% endblock footer %}
        <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        </aside>
    </div>
    {% block javascripts %}
    <script src="/static/vendors/jquery/jquery.min.js"></script>
    <script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendors/fontawesome5/js/fontawesome.min.js"></script>
    {% endblock javascripts %}
    <script src="/static/dist/js/adminlte.js"></script>
    {% endblock body %}
    </body>
</html>
