{% load i18n %}
<a href="{% url 'home' %}" class="brand-link">
    <img src="/static/dist/img/logo_small.png" alt="AdminLTE Logo" class="brand-image img-rounded elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Honyaku.site</span>
</a>
<div class="sidebar">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'worklist' %}" class="nav-link">
                <i class="nav-icon fas fa-tasks"></i>
                <p>{% trans "worklist" %}</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'translationHistory' %}" class="nav-link">
                <i class="nav-icon fas fa-history"></i>
                <p>{% trans "TranslationHistory" %}</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'taglist' %}" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p>{% trans "Taglist" %}</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'glossary' %}" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>{% trans "Glossary" %}</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'termsanduse' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>{% trans "TermsAndConditions" %}</p>
            </a>
        </li>
    </ul>
</div>
