{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}#PageTitle_glossary#{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.3/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <link rel="stylesheet" href="/static/vendors/datatables-editor/css/editor.datatables.min.css">
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor">#Glossary#</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="glossaryForm" class="form" action="/saveGlossary" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ glossary_id }}" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block javascripts %}
    {{ block.super}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.3/papaparse.min.js"></script>
    <script src="/static/vendors/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables-select/js/dataTables.select.min.js"></script>
    <script src="/static/vendors/datatables-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables-editor/js/dataTables.editor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.print.min.js"></script>

    <script>
        var editor;
        var TOKEN = ""
        function submitAction(url) {
            $('#glossaryForm').submit();
        }
        function selectColumns ( editor, csv, header ) {
            var selectEditor = new $.fn.dataTable.Editor();
            var fields = editor.order();

            for ( var i=0 ; i<fields.length ; i++ ) {
                var field = editor.field( fields[i] );

                selectEditor.add( {
                    label: field.label(),
                    name: field.name(),
                    type: 'select',
                    options: header,
                    def: header[i]
                } );
            }

            selectEditor.create({
                title: 'Map CSV fields',
                buttons: 'Import '+csv.length+' records',
                message: 'Select the CSV column you want to use the data from for each field.'
            });

            selectEditor.on('submitComplete', function (e, json, data, action) {
                // Use the host Editor instance to show a multi-row create form allowing the user to submit the data.
                editor.create( csv.length, {
                    title: 'Confirm import',
                    buttons: 'Submit',
                    message: 'Click the <i>Submit</i> button to confirm the import of '+csv.length+' rows of data. Optionally, override the value for a field to set a common value by clicking on the field below.'
                } );

                for ( var i=0 ; i<fields.length ; i++ ) {
                    var field = editor.field( fields[i] );
                    var mapped = data[ field.name() ];

                    for ( var j=0 ; j<csv.length ; j++ ) {
                        field.multiSet( j, csv[j][mapped] );
                    }
                }
            } );
        }

        $(document).ready(function() {
            TOKEN = $("#csrfmiddlewaretoken").val()
            $.ajaxSetup( {
                headers: {
                    'CSRFToken': TOKEN
                }
            });
        });

    </script>
{% endblock javascripts %}
