{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}#PageTitle_glossary#{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <form action="createGlossary" method="post">
                {% csrf_token %}
                <div class="form-row" style="margin-left: 0px; margin-bottom: 6px;">
                    <div class="form-group col-4" style="margin-right:10px;">
                        <div class="input-group" style="width:100%">
                            <div class="input-group-prepend"><span class="input-group-text bg-gradient-cyan">#language#</span></div>
                            <select class="form-control editableColor" id="lc_src" name="lc_src"  readonly style="min-width:150px; background-color: #f5f8f8;">
                                <option id="lc_src_selected" value="{{ userlang.srcValue }}" selected>{{ userlang.srcName.displaylang }}</option>
                            </select>
                            <select class="form-control" id="lc_tgt" name="lc_tgt"  readonly style="min-width:150px; background-color: #f5f8f8;">
                                <option id="lc_tgt_selected" value="{{ userlang.tgtValue }}" selected>{{ userlang.tgtName.displaylang }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-2" style="margin-right:10px;">
                        <button class="btn btn-primary" style="margin:0px;">#Create a new Glossary#</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor">#Glossary-Glossary List#</div>
                        <div class="card-body">
                            <table class="table table-hover table-responsive-lg tabletype1">
                                <thead>
                                  <tr>
                                    <th>#gl_srclang#</th>
                                    <th>#gl_tgtlang#</th>
                                    <th>#gl_numberofcount#</th>
                                    <th style="width: 20%">#index_Edit#</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for row in glossary %}
                                      <tr>
                                        <td>{{ row.srclang }}</td>
                                        <td>{{ row.tgtlang }}</td>
                                        <td>{{ row.numberofcount }}</td>
                                        <td>
                                          <a href="{% url 'glossarydetail' row.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        </td>
                                      </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade top" id="modal-SelectLang">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header sitecolor-bcolor">
                <h4 class="modal-title">#Language Selection#</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for lang in langs %}
                        <div class="col-sm-4 selectedLang" data-id="{{ lang.lc }}">{{ lang.displaylang }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <script>
        var targetElement = ""
        $(document).ready(function() {
            $('#lc_src').on('click', function () {
                targetElement = 'lc_src_selected'
                $('#modal-SelectLang').modal();
            });
            $('#lc_tgt').on('click', function () {
                targetElement = 'lc_tgt_selected'
                $('#modal-SelectLang').modal();
            });
            $(document).on('click', '.selectedLang', function () {
                var option_text = $(this).text();
                var option_val = $(this).data("id");
                $('#' + targetElement).text(option_text).val(option_val);
                $('#modal-SelectLang').modal('hide');
            });
        })
    </script>
{% endblock javascripts %}
