{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper index">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                    <div class="card-header sitecolor-bcolor h6"><i class="fas fa-tasks"></i>    #Home_Work_Counts#</div>
                    <div class="card-footer p-0 text-sm">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'worklist' %}?status=Draft" class="nav-link">#Home_Draft_Cnt# <span class="float-right badge bg-primary">{{ count.DraftCount }} </span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'worklist' %}?status=Open" class="nav-link">#Home_Open_Cnt# <span class="float-right badge bg-info">{{ count.OpenCount }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'worklist' %}" class="nav-link">#Home_All_Cnt# <span class="float-right badge bg-success">{{ count.AllCount }}</span></a>
                        </li>
                    </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header sitecolor-bcolor h6"><i class="fas fa-tags"></i> #Home_Tag_Counts#</div>
                        <div class="card-footer p-0 text-sm">
                            <ul class="nav flex-column">
                            {% if tags %}
                                {% for tag in tags %}
                                <li class="nav-item">
                                    <a href="{% url 'worklist' %}?tag={{ tag.tagname }}" class="nav-link">{{ tag.tagname }} <span class="float-right badge bg-primary">{{ tag.workcount }}</span></a>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li class="nav-item">
                                    <span class="nav-link">No tags are registered yet.</span>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header sitecolor-bcolor h6"><i class="fas fa-book"></i> #Home_Glossary#</div>
                        <div class="card-footer p-0 text-sm">
                            <ul class="nav flex-column">
                            {% if glossary %}
                                <li class="nav-item">
                                    <a href="{% url 'glossary' %}" class="nav-link">Total number of words<span class="float-right badge bg-primary">{{ glossary.count }}</span></a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <span class="nav-link">No glossary is registered.<a href="{% url 'glossary' %}" class="float-right">Create glossary</a></span>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a role="button" href="{% url 'workcreation' %}" class="btn btn-outline-info btn-lg">#New Translation#<i class="fas fa-plus-square pl-1"></i></a>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {%  if works_draft %}
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor"><i class="fas fa-tasks"></i> #Draft#</div>
                        <div class="card-body">
                            <div class="x_content">
                                <table class="table table-hover table-responsive-lg tabletype1">
                                <thead>
                                  <tr>
                                    <th>#index_Title#</th>
                                    <th>#index_srclang#</th>
                                    <th>#index_tgtlang#</th>
                                    <th>#index_Tag#</th>
                                    <th>#index_createdDate#</th>
                                    <th>#index_ETA#</th>
                                    <th style="width: 20%">#index_Edit#</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for row in works_draft %}
                                      <tr>
                                            <td>{{ row.workTitle }}</td>
                                            <td>{{ row.srclang }}</td>
                                            <td>{{ row.tgtlang }}</td>
                                            <td>
                                                <div class="tokenfield">
                                                    {% for tag in row.tags %}
                                                        <div class="token" style="border:0px; height: inherit; background-color: {{tag.tag__backgroundcolor}}"><span class="token-label" style="padding: .2em 18px .2em .5em">{{ tag.tag__tagname }}</span></div>
                                                    {%  endfor %}
                                                </div>
                                            </td>
                                            <td>{{ row.createdDate|date:"Y/m/j" }}</td>
                                            <td>{{ row.eta|date:"Y/m/j" }}</td>
                                            <td>
                                                <a href="{% url 'workcreation' %}?id={{ row.id }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            </td>
                                          </tr>
                                  {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor"><i class="fas fa-tasks"></i> #Open#</div>
                        <div class="card-body">
                            <div class="x_content">
                                <table class="table table-hover table-responsive-lg tabletype1">
                                <thead>
                                  <tr>
                                    <th>#index_worktitle#</th>
                                    <th>#index_srclang#</th>
                                    <th>#index_tgtlang#</th>
                                    <th>#index_Tag#</th>
                                    <th>#index_createdDate#</th>
                                    <th>#index_ETA#</th>
                                    <th>#index_progress#</th>
                                    <th style="width: 20%">#index_Edit#</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for row in works_open %}
                                        <tr>
                                            <td>{{ row.workTitle }}</td>
                                            <td>{{ row.srclang }}</td>
                                            <td>{{ row.tgtlang }}</td>
                                            <td>
                                                <div class="tokenfield">
                                                    {% for tag in row.tags %}
                                                        <div class="token" style="border:0px; height: inherit; background-color: {{tag.tag__backgroundcolor}}"><span class="token-label" style="padding: .2em 18px .2em .5em">{{ tag.tag__tagname }}</span></div>
                                                    {%  endfor %}
                                                </div>
                                            </td>
                                            <td>{{ row.createdDate|date:"Y/m/j" }}</td>
                                            <td>{{ row.eta|date:"Y/m/j"}}</td>
                                            <td>{{ row.progress }}</td>
                                            <td>
                                              <a href="{% url 'workdetail' row.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            </td>
                                          </tr>
                                  {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
