{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}#PageTitle_Tag#{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor">#PageTitle_Tag#</div>
                        <div class="card-body">
                            <form id="tagsform" class="form" action="save" method="post">
                                {% csrf_token %}
                                <table id="tags" class="table display dataTable">
                                <thead>
                                    <tr>
                                        <th style="width:10px"></th>
                                        <th>tag image</th>
                                        <th>tag text</th>
                                        <th>back color</th>
                                        <th>text color</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                </table>
                                <input type="hidden" name="tagsjson"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="customForm">
<editor-field name="tagText"></editor-field>
<editor-field name="backColor"></editor-field>
</div>
{% endblock content %}
{% block javascripts %}
    {{ block.super}}
    <script src="/static/vendors/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables-select/js/dataTables.select.min.js"></script>
    <script src="/static/vendors/datatables-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables-editor/js/dataTables.editor.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/tabletojson/jquery.tabletojson.min.js"></script>
    <script>
        var editor;
        var TOKEN = ""
        function submitAction(url) {
            taglist = $('#tags').tableToJSON();
            $('#tagsjson').val(JSON.stringify(taglist));
            $('#tagsform').submit();
        }
        $(document).ready(function() {
            TOKEN = $("#csrfmiddlewaretoken").val()
            $.ajaxSetup( {
                headers: {
                    'CSRFToken': TOKEN
                }
            });
            editor = new $.fn.dataTable.Editor( {
                table: "#tags",
                {#template: '#customForm',#}
                {#idSrc:  'id',#}
                fields: [
                    {
                        label: "#tagname#",
                        name: "tagname"
                    }, {
                        label: "#backgroundcolor#",
                        name: "backgroundcolor"
                    }, {
                        label: "#textColor#",
                        name: "textcolor"
                    }
                ]
            });
            var dtable = $("#tags").DataTable({
                dom: "Bfrtip",
                ajax: "gettags",
                paging : false,
                columns: [
                    {
                        data: 'tag_id',
                        className: 'details-control',
                        "render": function (data, type, row) {
                            return '<input type="hidden" id="tag_id" name="tag_id" value="'+data+'" />'
                        }
                    },
                    { data: 'tagname', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            html = '<div class="token badge" style="background-color:'+row['backgroundcolor']+'; color:'+row['textcolor']+';">';
                            html = html + '<span class="token-label" style="padding:2em;">'+row['tagname']+'</span>';
                            html = html + '</div>';
                            return html;
                        }
                    },
                    { data: 'tagname', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            return '<input type="text" name="tagname" id="tagname" value="'+row['tagname']+'">';
                        }
                    },
                    { data: 'backgroundcolor', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            html = '<input type="color" class="backgroundcolor"  value="'+row['backgroundcolor']+'">';
                            html = html + '<input type="hidden" name="backgroundcolor" id="backgroundcolor" value="'+row['backgroundcolor']+'">';
                            return html;
                        }
                    },
                    { data: 'textcolor', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            html = '<input type="color" class="textcolor"  value="'+row['textcolor']+'">';
                            html = html + '<input type="hidden" name="textcolor" id="textcolor" value="'+row['textcolor']+'">';
                            return html;
                        }
                    },
                    { data: 'tag_id', className: "dt-center no-wrap",
                        "render": function (data, type, row) {
                            url = "{% url 'deleteTag' 0 %}".replace("0", data)
                            return '<button class="btn btn-md btn-outline-blue-grey" onclick="location.href=\''+url+'\'">Delete</button>';
                        }
                    }
                ],
                select: true,
                buttons: [
                    { extend: "create", editor: editor }
                ]
            });
            $('#tags tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var input = $(this).children('input');
                tag_id = input.val();
                var row = dtable.row(tr);
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else
                {
                    var childTable = ''
                    $.ajax("/getworksfortag", {
                        data: { tag_id: tag_id},
                        async : false
                    })
                    .done( (data) => {
                        result = data.data
                        if (result.length > 0){
                            childTable = childTable + '<table class="taglistchild"><thead><tr><th>WorkTitle</th><th>Status</th></tr></thead><tbody>'
                            for (let i = 0; i < result.length; ++i) {
                                url = ""
                                if (result[i].status == "Draft"){
                                    url = "{% url 'workcreation' 0 %}".replace('0',result[i].work_id)
                                }else{
                                    url = "{% url 'workdetail' 0 %}".replace('0',result[i].work_id)
                                }
                                childTable = childTable + '<tr>'
                                childTable = childTable + '<td><a href="'+url+'">'+result[i].workTitle+'</a></td>'
                                childTable = childTable + '<td>'+result[i].status+'</td>'
                                childTable = childTable + '</tr>'
                            }
                            childTable = childTable + '</tbody></table>'
                        }
                    })
                    .fail( (jqXHR, status, errorThrown) => {
                        alert('Request failed.  Returned status of ' + status);
                    })
                    row.child(childTable).show();
                    tr.addClass('shown');
                }
            });


            $('#tags tbody').on('change', 'input#tagname', function () {
                var text = this.value;
                var tr = $(this).closest('tr');
                var span = tr.find('span');
                span.text(text);
            });
            $('#tags tbody').on('change', 'input.backgroundcolor', function () {
                var color = this.value;
                var tr = $(this).closest('tr');
                var div = tr.find('div');
                div.css('background-color', color);
            });
            $('#tags tbody').on('change', 'input.textcolor', function () {
                var color = this.value;
                var tr = $(this).closest('tr');
                var div = tr.find('div');
                div.css('color', color);
            });
        });

    </script>
{% endblock javascripts %}

