{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}#PageTitle_Tag#{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor">{% trans "taglist" %}</div>
                        <div class="card-body">
                            <button id="addRow" class="btn btn-lg btn-success">{% trans "Add a new Tag" %}</button>
                            <form id="tagsform" class="form" action="savetaglist" method="post">
                                {% csrf_token %}
                                <table id="tags" class="table display dataTable">
                                <thead>
                                    <tr>
                                        <th style="width:10px"></th>
                                        <th>{% trans "tag image" %}</th>
                                        <th>{% trans "tag text" %}</th>
                                        <th>{% trans "background color" %}</th>
                                        <th>{% trans "text color" %}</th>
                                        <th></th>
                                        <th style="visibility: hidden">@tag_id</th>
                                        <th style="visibility: hidden">@tagname</th>
                                        <th style="visibility: hidden">@backgroundcolor</th>
                                        <th style="visibility: hidden">@textcolor</th>
                                    </tr>
                                </thead>
                                </table>
                                <input type="hidden" name="tagsjson" id="tagsjson"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<table id="newRow" style="display:none">
<tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>#555555</td>
        <td>#ffffff</td>
        <td></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden">#555555</td>
        <td style="visibility: hidden">#ffffff</td>
    </tr>
</tbody>
</table>
{% endblock content %}
{% block javascripts %}
    {{ block.super}}
    <script src="/static/vendors/tabletojson/jquery.tabletojson.min.js"></script>
    <script>
        var editor;
        var TOKEN = ""
        function submitAction(url) {
            taglist = $('#tags').tableToJSON({
                onlyColumns : [6,7,8,9]
            });
            $('#tagsjson').val(JSON.stringify(taglist));
            $('#tagsform').submit();
        }
        $(document).ready(function() {
            TOKEN = $("#csrfmiddlewaretoken").val()
            $.ajaxSetup( {
                headers: {
                    'CSRFToken': TOKEN
                }
            });
            var dtable = $("#tags").DataTable({
                dom: "Bfrtip",
                ajax: "gettags",
                paging : false,
                ordering : false,
                searching : false,
                columns: [
                    {
                        data: 'tag_id',
                        className: 'details-control',
                        "render": function (data, type, row) {
                            return '<input type="hidden" id="tag_id" name="tag_id" value="'+data+'" />'
                        }
                    },
                    { data: 'tagname', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            html = '<div class="token badge badge-tag" style="background-color:'+row['backgroundcolor']+'; color:'+row['textcolor']+';">';
                            html = html + '<span class="token-label" style="padding:2em;">'+row['tagname']+'</span>';
                            html = html + '</div>';
                            return html;
                        }
                    },
                    { data: 'tagname', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            return '<input type="text" name="tagname" id="tagname" value="'+row['tagname']+'">';
                        }
                    },
                    { data: 'backgroundcolor', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            return '<input type="color" class="backgroundcolor"  value="'+row['backgroundcolor']+'">';
                        }
                    },
                    { data: 'textcolor', className: "dt-left no-wrap",
                        "render":function (data, type, row) {
                            html = '<input type="color" class="textcolor"  value="'+row['textcolor']+'">';
                            html = html + '<input type="hidden" name="textcolor" id="textcolor" value="'+row['textcolor']+'">';
                            return html;
                        }
                    },
                    { data: 'tag_id', className: "dt-center no-wrap",
                        "render": function (data, type, row) {
                            if ( data == "")
                                return ''
                            url = "{% url 'deleteTag' 0 %}".replace("0", data)
                            return '<input type="button" class="btn btn-md btn-outline-danger" onclick="location.href=\''+url+'\'" value="Delete"/>';
                        }
                    },
                    { data: 'tag_id', className: "invisible" },
                    { data: 'tagname', className: "invisible data_tagname" },
                    { data: 'backgroundcolor', className: "invisible data_backgroundcolor" },
                    { data: 'textcolor', className: "invisible data_textcolor" }
                ],
            });
            $('#addRow').click(function() {
                var rowHtml = $("#newRow").find("tr")[0].outerHTML
                dtable.row.add($(rowHtml)).draw();
            });
            $('#tags tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var input = $(this).children('input');
                tag_id = input.val();
                if (tag_id == "")
                    return false;
                var row = dtable.row(tr);
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else
                {
                    var childTable = ''
                    $.ajax("/getworksfortag", {
                        data: { tag_id: tag_id},
                        async : false
                    })
                    .done( (data) => {
                        result = data.data
                        if (result.length > 0){
                            childTable = childTable + '<table class="taglistchild"><thead><tr><th>{% trans "WorkTitle" %}</th><th>{% trans "Status" %}</th></tr></thead><tbody>'
                            for (let i = 0; i < result.length; ++i) {
                                url = ""
                                if (result[i].status == "Draft"){
                                    url = "{% url 'workcreation' 0 %}".replace('0',result[i].work_id)
                                }else{
                                    url = "{% url 'workdetail' 0 %}".replace('0',result[i].work_id)
                                }
                                childTable = childTable + '<tr>'
                                childTable = childTable + '<td><a href="'+url+'">'+result[i].workTitle+'</a></td>'
                                childTable = childTable + '<td>'+result[i].status+'</td>'
                                childTable = childTable + '</tr>'
                            }
                            childTable = childTable + '</tbody></table>'
                        }
                    })
                    .fail( (jqXHR, status, errorThrown) => {
                        alert('Request failed.  Returned status of ' + status);
                    })
                    row.child(childTable).show();
                    tr.addClass('shown');
                }
            });

            $('#tags tbody').on('change', 'input#tagname', function () {
                var text = this.value;
                var tr = $(this).closest('tr');
                var span = tr.find('span');
                span.text(text);
                var hidden = tr.find('td.data_tagname');
                hidden.text(text);
            });
            $('#tags tbody').on('change', 'input.backgroundcolor', function () {
                var color = this.value;
                var tr = $(this).closest('tr');
                var div = tr.find('div');
                div.css('background-color', color);
                var hidden = tr.find('td.data_backgroundcolor');
                hidden.text(color);
            });
            $('#tags tbody').on('change', 'input.textcolor', function () {
                var color = this.value;
                var tr = $(this).closest('tr');
                var div = tr.find('div');
                div.css('color', color);
                var hidden = tr.find('td.data_textcolor');
                hidden.text(color);
            });
        });

    </script>
{% endblock javascripts %}

