{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% trans "PersonalSetting" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row justify-content-left">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-header h5 sitecolor-bcolor">{% trans "PersonalSetting" %}</div>
                        <div class="card-body">
                            <form id="form" action="/personalsettingsave" method="post">
                                {% csrf_token %}
                                <h4>Account</h4>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="EmailAddress">{% trans "EmailAddress" %}</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="email" name="email" class="form-control-plaintext" readonly style="border-bottom:1px solid #cccccc" value="{{ user.email }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="usertype">{% trans "UserType" %}</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="usertype" name="usertype" class="form-control-plaintext" readonly style="border-bottom:1px solid #cccccc" value="{{ user.usertype }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="username2">{% trans "UserName" %}</label>
                                    <div class="col-sm-4">
                                        <input type="text" id='username2' name='username2' class="form-control editableColor" style="width:300px;" value="{{ user.username2 }}">
                                    </div>
                                </div>
                                <br/>
                                <h4>Language</h4>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="DisplayLanguage">{% trans "DisplayLanguage" %}</label>
                                    <div class="col-sm-4">
                                        <select class="form-control editableColor" id="DisplayLanguage" name="DisplayLanguage" style="width:300px; min-width:150px; background-color: #fbfbf3;">
                                            {% for lng in displayLangs %}
                                                {% if lng.language == selecteddisplayLang.language %}
                                                    <option id="DisplayLanguage_selected" value="{{ lng.language }}" selected>{{ lng.listname }}</option>
                                                {% else %}
                                                    <option id="DisplayLanguage_selected" value="{{ lng.language }}">{{ lng.listname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="lc_src">{% trans "DefaultSrcLang" %}</label>
                                    <div class="col-sm-4">
                                        <select class="form-control editableColor" id="lc_src" name="lc_src"  readonly style="width:300px; min-width:150px; background-color: #fbfbf3;">
                                            <option id="lc_src_selected" value="{{ selectedlang.srcValue }}" selected>{{ selectedlang.srcName.displaylang }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-right no-wrap" for="lc_tgt">{% trans "DefaultTgtLang" %}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control editableColor" id="lc_tgt" name="lc_tgt"  readonly style="width:300px; min-width:150px; background-color: #fbfbf3;">
                                            <option id="lc_tgt_selected" value="{{ selectedlang.tgtValue }}" selected>{{ selectedlang.tgtName.displaylang }}</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="userid" value="{{ user.id }}"/>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="offset-sm-2 col-sm-2 text-right">
                                    <button type="button" onclick="javascript:submitAction()" class="btn btn-lg btn-info" style="width:100%; white-space: nowrap;">{% trans "Save" %}<i class="fas fa-save pl-3"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade top" id="modal-SelectDisplayLang">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header sitecolor-bcolor">
                <h4 class="modal-title">{% trans "Language Selection" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for lng in displayLangs %}
                        <div class="col-sm-4 selectedLang" data-id="{{ lng.language }}">{{ lng.listname }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "CloseModal" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="modal-SelectLang">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header sitecolor-bcolor">
                <h4 class="modal-title">{% trans "Language Selection" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for lng in langs %}
                        <div class="col-sm-4 selectedLang" data-id="{{ lng.lc }}">{{ lng.displaylang }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "CloseModal" %}</button>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
<script>
    function submitAction(status) {
        $('#form').submit();
    }
    var targetElement = ""
    $(document).ready(function() {
        $('#lc_src').on('click', function () {
            targetElement = 'lc_src_selected'
            $('#modal-SelectLang').modal();
        });
        $('#lc_tgt').on('click', function () {
            targetElement = 'lc_tgt_selected'
            $('#modal-SelectLang').modal();
        });
        $(document).on('click','.selectedLang',function(){
            var option_text = $(this).text();
            var option_val = $(this).data("id");
            $('#'+targetElement).text(option_text).val(option_val);
            $('#modal-SelectLang').modal('hide');
        });
    });
</script>
{% endblock content %}
