{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% trans "PersonalSetting" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header h6 sitecolor-bcolor">{% trans "PersonalSetting" %}</div>
                        <div class="card-body">
                            To be updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
