{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% trans "TranslationHistory" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center" style="padding-bottom: 3px;">
                            <div>
                                <h5 class="card-title md-0 font-weight-bold"><i class="fas fa-history"></i> {% trans "TranslationHistory" %}</h5>
                            </div>
                            <div class="ml-auto d-flex no-wrap align-items-center">
                                {% trans "Search : " %}<input type="text" class="form-control" id="searchword">
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="history" class="table table-responsive-lg tabletype1">
                                <thead>
                                <tr>
                                    <th width="10%">{% trans "createdDate" %}</th>
                                    <th width="20%">{% trans "workTitle" %}</th>
                                    <th width="5%">{% trans "TranslationType" %}</th>
                                    <th width="65%">{% trans "Translation" %}</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
{% block javascripts %}
  {{ block.super}}
    <script>
        $(document).ready(function() {
            var dtable = $("#history").DataTable({
                ajax: "gethistory",
                bDeferRender: true,
                stateSave: false,
                scrollCollapse : true,
                paging : false,
                searching : true,
                scrollToTop: true,
                "responsive": false ,
                "autoWidth": false,
                columns: [
                    {   data: 'createdDateTime', className: "dt-left no-wrap"},
                    {   data: 'workTitle',
                        className: "dt-left  p-0",
                        "render": function (data, type, row) {
                            url = "{% url 'workdetail' 0 %}".replace("0", row['work_id'])
                            return '<a href="'+url+'">'+data+'</a>';
                        }
                    },
                    {
                        data: 'TranslationType',
                        className: "dt-left  p-0",
                        "render": function (data, type, row) {
                            if (row['TranslationType'] == 'Self') {
                                return '<span class="badge badge-default color-trans-self">'+data+'</span>';
                            }else if (row['TranslationType'] == 'Google') {
                                return '<span class="badge badge-default color-trans-google">'+data+'</span>';
                            }else if (row['TranslationType'] == 'Ignore') {
                                return '<span class="badge badge-default color-trans-ignore">'+data+'</span>';
                            }else {
                                return data;
                            }
                        }
                    },
                    {   data: 'beforeTranslation', className: "dt-left text-overflow-clip p-0",
                        "render" : function (data, type, row){
                            html = '<div style="padding-left:2em;">';
                            html = html + '<table class="TransHistoryCompareTable" border="0" style="margin-bottom:0px;">';
                            html = html + '<tr>'
                            html = html + '<td class="w-80px comparetabletitle" style="padding:.1rem">{% trans 'Original'%}</td>'
                            html = html + '<td class="comparetabletext" style="padding:.1rem">'+row['beforeTranslation']+'</td>'
                            html = html + '</tr><tr>'
                            html = html + '<td class="w-80px comparetabletitle" style="padding:.1rem">{% trans 'Translated'%}</td>'
                            html = html + '<td class="comparetabletext" style="padding:.1rem">'+row['afterTranslation']+'</td>'
                            html = html + '</tr>'
                            return html;
                        }
                    }
                ],
                columnDefs: [ {
                    "targets": 3,
                    "orderable": false
                } ]
            });
            $('#searchword').keyup(function(){
                  dtable.search($(this).val()).draw();
            })
        });
    </script>
{% endblock javascripts %}
