{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% trans "WorkList" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper index">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="table" class="table table-hover table-responsive-lg tabletype1">
                            <thead>
                                <tr>
                                    <th>{% trans "Title" %}</th>
                                    <th>{% trans "Status" %}</th>
                                    <th>{% trans "Progress" %}</th>
                                    <th>{% trans "srclang" %}</th>
                                    <th>{% trans "tgtlang" %}</th>
                                    <th>{% trans "Tag" %}</th>
                                    <th>{% trans "createdDate" %}</th>
                                    <th>{% trans "ETA" %}</th>
                                    <th style="width: 20%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                    {% if row.status == "Draft" %}
                                        <tr style="background-color:#7fe08021">
                                    {% elif row.status == "Open" %}
                                        <tr style="background-color:#4ec6de12">
                                    {% elif row.status == "Closed" %}
                                        <tr style="background-color:#19161614">
                                    {% endif %}
                                        <td>{{ row.workTitle }}</td>
                                        <td>
                                            {% if row.status == "Draft" %}
                                                <span class="color-status-draft" ><i class="fas fa-edit"></i> {% trans "Draft" %}</span>
                                            {% elif row.status == "Open" %}
                                                <span class="color-status-open" ><i class="fas fa-random"></i> {% trans "Translating" %}</span>
                                            {% elif row.status == "Closed" %}
                                                <span class="color-status-closed" ><i class="fas fa-archive"></i> {% trans "Closed" %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar bg-primary" style="width:{{ row.progress }}%">{{ row.progress }}%</div>
                                            </div>
                                        </td>
                                        <td>{{ row.srclang }}</td>
                                        <td>{{ row.tgtlang }}</td>
                                        <td>
                                            <div>
                                                {% for tag in row.tags %}
                                                    <div class="token badge badge-tag" style="border:0px; height: inherit; background-color: {{tag.tag__backgroundcolor}}; color:{{ tag.tag__textcolor }}"><span class="token-label" style="padding: .2em 18px .2em .5em">{{ tag.tag__tagname }}</span></div>
                                                {%  endfor %}
                                            </div>
                                        </td>
                                        <td>{{ row.createdDate|date:"Y/m/j" }}</td>
                                        <td>{% if row.eta %}{{ row.eta|date:"Y/m/j" }}{% endif %}</td>
                                        <td style="white-space: nowrap">
                                            {% if row.status == "Draft" %}
                                                <a href="{% url 'workcreation' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-edit"></i> {% trans "Edit Draft" %}</a>
                                                <a href="{% url 'workstart' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-random"></i> {% trans "Start Translation" %}</a>
                                            {% elif row.status == "Open" %}
                                                <a href="{% url 'workdetail' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-random"></i> {% trans "Translate" %}</a>
                                                <a href="{% url 'workclose' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-archive"></i> {% trans "Work Close" %}</a>
                                            {% elif row.status == "Closed" %}
                                                <a href="{% url 'workdetail' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-archive"></i> {% trans "View" %}</a>
                                                <a href="{% url 'workreopen' row.work_id %}" class="btn btn-outline-primary btn-md"><i class="fas fa-random"></i> {% trans "Reopen" %}</a>
                                            {% endif %}
                                        </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
<script>
    $(document).ready(function() {
        var dtable = $("#table").DataTable({
            bDeferRender: true,
            stateSave: false,
            scrollCollapse : true,
            paging : false,
            searching : true,
            scrollToTop: true,
            "responsive": false ,
            "autoWidth": false,
            columnDefs: [ {
                "targets": 8,
                "orderable": false
            } ]
        });
    });
</script>
{% endblock content %}
