{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}{% trans "WorkDetail" %}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="content-wrapper workdetail">
    <section class="content">
        <form id="workform" class="form-inline" action="#" method="post">
            {% csrf_token %}
            <div class="container-fluid" style="padding-top:10px;">
                <div class="card">
                    {% if work.status == "Open" %}
                        <div class="card-header h6 font-weight-bold color-status-open backcolor-status-open">
                            {% trans "Translating" %} <i class="fas fa-random"></i>
                        </div>
                    {% elif work.status == "Closed" %}
                        <div class="card-header h6 font-weight-bold color-status-closed backcolor-status-closed">
                            {% trans "Closed" %} <i class="fas fa-archive"></i>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <div class="form-row" style="margin-left: 0px; margin-bottom: 6px;">
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color w-80px">{% trans "Title" %}</span></div>
                                    <input type="text" class="form-control editableColor" id="workTitle" name="workTitle" value="{{ work.workTitle }}" style="width:100%;   "/>
                                </div>
                            </div>
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color w-80px">{% trans "language" %}</span></div>
                                    <div style="padding:4px; border: 1px solid lightgrey; min-width: 300px;">
                                        <div class="d-inline">
                                            {{ work.srclang }}
                                        </div>
                                        <div class="d-inline">
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                        </div>
                                        <div class="d-inline">
                                            {{ work.tgtlang }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color w-80px">{% trans "ETA" %}</span></div>
                                    <input type="text" id="eta" name="eta" class="form-control editableColor" value="{{ work.eta|date:"Y/m/j" }}"/>
                                    <div class="input-group-append" data-target="#eta" data-toggle="datepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-left: 0px; margin-bottom: 6px;">
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color w-80px">{% trans "Tags" %}</span></div>
                                    <input type="text" class="form-control editableColor" id="tags" name="tags" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card card-cyan card-tabs">
                                <div class="card-header p-0 pt-1 info-color">
                                    <div class="card-title">
                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                                                    {% trans "Original" %}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">
                                                    {% trans "History" %}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                                                    {% trans "Translated" %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-tools">
                                        {% trans "Progress" %} : <span id="progress">{{ work.progress }}</span>%
                                        {% trans "status" %} : {{ work.status }}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                            <textarea class='wordsOriginalAll' id='wordsOriginalAll' name='wordsOriginalAll' rows='10' style="visibility:hidden; white-space: pre-wrap;">{{ work.wordsOriginal }}</textarea>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <table id="history" class="table table-hover table-responsive-lg tabletype1">
                                                    <thead>
                                                      <tr>
                                                        <th width="3%">#</th>
                                                        <th width="10%">{% trans "createdDate" %}</th>
                                                        <th width="5%">{% trans "TranslationType" %}</th>
                                                        <th width="82%">{% trans "Translation" %}</th>
                                                      </tr>
                                                    </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                            <div class="card-body wordsOriginal" id="wordsTranslatedAll" style="white-space: pre-wrap;">{{ work.wordsTranslated }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="tagsinfo" name="tagsinfo" />
        </form>
    </section>
</div>
<div class="modal fade right" id="openSelfTranslate" tabindex="-1" role="dialog" aria-labelledby="openSelfRequest" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header color-trans-self">
                <p class="heading lead">{% trans "SelfTrans" %}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-outline card-self">
                        <h4 class="card-title">{% trans "OriginalText" %}</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" ><i class="fas fa-minus" style="color:#999"></i></button>
                        </div>
                    </div>
                    <div class="card-body prewrap" id="selfOriginalText"></div>
                </div>
                <div class="card">
                    <div class="card-header color-trans-self">
                        <h4 class="card-title" style="color:white;">{% trans "TranslatedText" %}</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <textarea rows="10" class="form-control editableColor prewrap textArea" style="margin-bottom:100px; width:100%; min-height: 200px;" id="selfTranslateText" name='selfTranslateText' oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-self btn-lg waves-effect" data-dismiss="modal">{% trans "Cancel" %}</a>
                <a type="button" class="btn btn-self btn-lg waves-effect" id="btnSelfSave">{% trans "Reflect" %}<i class="fas fa-share"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade right" id="openGoogleRequest" tabindex="-1" role="dialog" aria-labelledby="openGoogleRequest" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify" role="document">
        <div class="modal-content">
            <div class="modal-header color-trans-google">
                <p class="heading lead">{% trans "GoogleTrans" %}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-outline card-primary">
                        <h4 class="card-title">{% trans "OriginalText" %}</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="card-body prewrap" id="googleRequestText"></div>f
                </div>
                <div class="card">
                    <div class="card-header color-trans-google">
                        <h4 class="card-title">{% trans "TranslatedText" %}</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <textarea rows="10" class="form-control editableColor prewrap textArea" style="margin-bottom:100px; width:100%; min-height: 200px;" id="googleResponseText" name='googleResponseText' oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <a type="button" class="btn btn-md btn-outline-primary" data-dismiss="modal">{% trans "Cancel" %}</a>
                <a type="button" class="btn btn-md color-trans-google" id="btnGoogleSave">{% trans "Reflect" %}<i class="fas fa-share"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="openIgnoreText">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header color-trans-ignore">
                <h4 class="modal-title">{% trans "ConfirmationMessage" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "TranslateIgnoreConfirmationMessage" %}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" id="btnIgnoreSave" class="btn btn-md color-trans-ignore">{% trans "OK" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="modal-SelfDeleteHistory">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-amber">
        <div class="modal-content">
            <div class="modal-header color-trans-self">
                <div class="modal-title">{% trans "ConfirmationMessage" %}</div>
            </div>
            <div class="modal-body">
                <p>{% trans "TranslateDeleteConfirmationMessage" %}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-amber" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-amber" onclick="deleteHistory()">{% trans "RemoveTranslation" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="modal-GoogleDeleteHistory">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">{% trans "ConfirmationMessage" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "TranslateDeleteConfirmationMessage" %}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" onclick="deleteHistory()">{% trans "RemoveTranslation" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="modal-IgnoreDeleteHistory">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-amber">
        <div class="modal-content">
            <div class="modal-header color-trans-ignore">
                <div class="modal-title">{% trans "ConfirmationMessage" %}</div>
            </div>
            <div class="modal-body">
                <p>{% trans "TranslateDeleteConfirmationMessage" %}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-grey" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-md color-trans-ignore" onclick="deleteHistory()">{% trans "RemoveTranslation" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="modal-Message">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title">{% trans "ConfirmationMessage" %}</div>
            </div>
            <div class="modal-body">
                <p id="ModalMessage"></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <script>
        var tokens = [];
        var wordsOriginal = "";
        var SummernoteHightlightButton = function(context) {
          var ui = $.summernote.ui;
          var button = ui.button({
            contents: '<i class="fa fa-ban"/>&nbsp{% trans "Not translate for the selected text" %}',
            click: function() {
              context.invoke('editor.backColor', 'gray');
            }
          });
          return button.render();
        }
        var SummernoteSelectAllButton = function() {
          var ui = $.summernote.ui;
          var button = ui.button({
            contents: '{% trans "Select All" %}',
            click: function() {
                this.select()
            }
          });
          return button.render();
        }
        $(document).ready(function() {
            $("#lc_src").select2({
                placeholder: '{% trans "Translate From" %}',
                selectOnClose: true,
            });
            $("#lc_tgt").select2({
                placeholder: '{% trans "Translate To" %}',
                selectOnClose: true,
            });
            var worktags = JSON.parse("{{ worktags  | safe | escapejs }}");
            var worktagsArr = [];
            for(let i in worktags){
                worktagsArr.push(worktags[i].tag__tagname);
            }
            var usertags = JSON.parse("{{ usertags  | safe | escapejs }}");
            var usertagsArr = [];
            for(let i in usertags){
                usertagsArr.push(usertags[i].tagname);
            }
            var initFlag = true;
            $('#tags')
                .on('tokenfield:initialize', function(e){
                    initFlag = false;
                })
                .on('tokenfield:createtoken', function (e) {
                    var existingTokens = $(this).tokenfield('getTokens');
                    $.each(existingTokens, function(index, token) {
                        if (token.value === e.attrs.value){
                            e.preventDefault();
                            return false;
                        }
                    })
                })
                .on('tokenfield:createdtoken', function(e) {
                    value = e.attrs.value;
                    bgcolor = '#aaaaaa';
                    textcolor = '#ffffff';
                    for(let i in usertags){
                        if (usertags[i].tagname == value){
                            bgcolor = usertags[i].backgroundcolor;
                            textcolor = usertags[i].textcolor;
                        }
                    }
                    $(e.relatedTarget).addClass('badge');
                    $(e.relatedTarget).css('background-color', bgcolor);
                    $(e.relatedTarget).css('color', textcolor);
                    var vals = { tagname: value, backgroundcolor: bgcolor, textcolor : textcolor };
                    tokens.push(vals);
                    if( initFlag == false ){
                        ajaxAddTagRequest(value, bgcolor, textcolor);
                    }
                })
                .on('tokenfield:removedtoken', function(e) {
                    var i = 0;
                    for(let i in tokens){
                        if(tokens[i].tagname == e.attrs.value){
                            ajaxRemoveTagRequest(e.attrs.value);
                            tokens.splice(i, 1);
                            break;
                        }
                        i++;
                    }
                })
                .on('tokenfield:edittoken', function(e) {
                    e.preventDefault();
                })
                .tokenfield({
                    tokens:worktagsArr,
                    autocomplete: {
                        source: usertagsArr,
                        delay: 100
                    },
                    showAutocompleteOnFocus: true,
                    writeable : false
            });

            var dtable = $("#history").DataTable({
                ajax: "gethistory",
                data : { work_id : '{{ work.work_id }}' },
                bDeferRender: true,
                stateSave: false,
                scrollCollapse : true,
                paging : false,
                searching : false,
                scrollToTop: true,
                orderClasses: false,
                "responsive": true,
                "autoWidth": false,
                "order": [[ 0, "desc" ]],
                columns: [
                    {   data: 'historyNum', className: "dt-left no-wrap"},
                    {   data: 'createdDateTime', className: "dt-left no-wrap" },
                    {   data: 'TranslationType', className: "dt-left",
                        "render": function (data, type, row) {
                            if (row['TranslationType'] == 'Self') {
                                return '<span class="badge badge-default color-trans-self">'+data+'</span>';
                            }else if (row['TranslationType'] == 'Google') {
                                return '<span class="badge badge-default color-trans-google">'+data+'</span>';
                            }else if (row['TranslationType'] == 'Ignore') {
                                return '<span class="badge badge-default color-trans-ignore">'+data+'</span>';
                            }else {
                                return data;
                            }
                        }
                    },
                    {   data: 'beforeTranslation', className: "dt-left text-overflow-clip",
                        "render" : function (data, type, row){
                            html = "<div style='overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size:0.8em;'>{% trans 'Original' %}：" + row['beforeTranslation'] + "</div>";
                            html = html + "<div style='overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size:0.8em;'>{% trans 'Translate' %}：" + row['afterTranslation'] + "</div>";
                            return html;
                        }
                    }
                ],
                columnDefs: [ {
                    "targets": 3,
                    "orderable": false
                } ]
            });
            $('#wordsOriginalAll').summernote({
                toolbar: false,
                buttons: {selectAll: SummernoteSelectAllButton},
                disableDragAndDrop:true,
                spellCheck: true,
                callbacks: {
                    onInit: function() {
                        $(".note-editable").addClass("prewrap");
                        wordsOriginal = $("#wordsOriginalAll").val();
                        convertText(1, wordsOriginal);
                        $("#wordsOriginalAll").css("visibility", "true");
                    },
                    onPaste: function (e) {
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                        e.preventDefault();
                        document.execCommand('insertText', false, bufferText);
                    },
                    onKeydown: function(e) {
                        e.preventDefault();
                    }
                }
            });
            $('#gengoRequestText').summernote({
                toolbar: [['style', ['highlight', 'clear']],],
                buttons: {highlight: SummernoteHightlightButton},
                disableDragAndDrop:true,
                callbacks: {
                    onInit: function() {
                      $(".note-editable").addClass("prewrap");
                    },
                    onPaste: function (e) {
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                        e.preventDefault();
                        document.execCommand('insertText', false, bufferText);
                    },
                    onKeydown: function(e) {
                        e.preventDefault();
                    }
                }
            })
            var OriginalText = ""
            $('#btnOpenSelfTranslate').on('click', function () {
                OriginalText = getSelectedText();
                if( OriginalText == ""){
                    $("#ModalMessage").text('{% trans "Please select translating text." %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                if( !wordsOriginal.includes(OriginalText)){
                    $("#ModalMessage").text('{% trans "CannotIncludeTranslatedText" %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                $('#openSelfTranslate').modal('show');
            })
            $('#openSelfTranslate').on('shown.bs.modal', function (e) {
                $('#selfOriginalText').text(OriginalText);
            })
            $('#btnOpenGoogleRequest').on('click', function () {
                OriginalText = getSelectedText();
                if( OriginalText == ""){
                    $("#ModalMessage").text('{% trans "Please select translating text." %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                if( !wordsOriginal.includes(OriginalText)){
                    $("#ModalMessage").text('{% trans "CannotIncludeTranslatedText" %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                $('#openGoogleRequest').modal('show');
            })
            $('#openGoogleRequest').on('shown.bs.modal', function (e) {
                $('#googleRequestText').text(OriginalText);
                $.ajax("/requestGoogleTranslation", {
                    data: {
                        originalText: OriginalText,
                        lc_src: '{{ work.lc_src }}',
                        lc_tgt: '{{ work.lc_tgt }}'
                    }
                }).then(
                    function success(data) {
                        $('#googleResponseText').val(data.data);
                    },
                    function fail(data, status) {
                        alert('{% trans "Request failed. Returned status : " %}' + status);
                    }
                )
            })
            $('#btnOpenIgnoreText').on('click', function () {
                OriginalText = getSelectedText();
                if( OriginalText == ""){
                    $("#ModalMessage").text('{% trans "Please select translating text." %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                if( !wordsOriginal.includes(OriginalText)){
                    $("#ModalMessage").text('{% trans "CannotIncludeTranslatedText" %}');
                    $('#modal-Message').modal('show');
                    return false;
                }
                $('#openIgnoreText').modal('show');
            })
            $('#btnSelfSave').click(function() {
                translatedText = $("#selfTranslateText").val();
                $.ajax("/saveSelfTranslation", {
                    data: {
                        work_id: '{{ work.work_id }}',
                        selfOriginalText: OriginalText,
                        selfTranslatedText:translatedText
                    }
                }).then(
                    function success(data) {
                        wordsOriginal = data.wordsOriginal;
                        $("#wordsOriginalAll").val(wordsOriginal);
                        wordsOriginal = $("#wordsOriginalAll").val();
                        convertText(1, data.wordsOriginal);
                        convertText(2, data.wordsTranslated);
                        $('#progress').text(data.progress)
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#openSelfTranslate').modal('hide');
                    },
                    function fail(data, status) {
                        alert('{% trans "Request failed. Returned status : " %}' + status);
                    }
                )
            })
            $('#btnGoogleSave').click(function() {
                translatedText = $("#googleResponseText").val();
                $.ajax("/saveGoogleTranslation", {
                    data: {
                        work_id: '{{ work.work_id }}',
                        googleOriginalText: OriginalText,
                        googleTranslatedText:translatedText
                    }
                }).then(
                    function success(data) {
                        wordsOriginal = data.wordsOriginal;
                        $("#wordsOriginalAll").val(wordsOriginal);
                        wordsOriginal = $("#wordsOriginalAll").val();
                        convertText(1, data.wordsOriginal);
                        convertText(2, data.wordsTranslated);
                        $('#progress').text(data.progress);
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#openGoogleRequest').modal('hide');
                    },
                    function fail(data, status) {
                        alert('{% trans "Request failed. Returned status : " %}' + status);
                    }
                )
            })
            $('#btnIgnoreSave').click(function() {
                $.ajax("/saveIgnoreTranslation", {
                    data: {
                        work_id: '{{ work.work_id }}',
                        OriginalText: OriginalText
                    }
                }).then(
                    function success(data) {
                        wordsOriginal = data.wordsOriginal;
                        $("#wordsOriginalAll").val(wordsOriginal);
                        wordsOriginal = $("#wordsOriginalAll").val();
                        convertText(1, data.wordsOriginal);
                        convertText(2, data.wordsTranslated);
                        $('#progress').text(data.progress)
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#openIgnoreText').modal('hide');
                    },
                    function fail(data, status) {
                        alert('{% trans "Request failed. Returned status : " %}' + status);
                    }
                )
            })
            $('.highrighthistory_gengo').select(function(){
                alert(1)
            })
            $('.highrighthistory_google').select(function(){
                alert(1)
            })
            $('.highrighthistory_self').select(function(){
                alert(1)
            })
            wordsOriginalAll = document.getElementById("wordsOriginalAll");
            textAreaHeightSet(wordsOriginalAll);
            convertText(2, $("#wordsTranslatedAll").text())
        });
        function ajaxAddTagRequest(tagname, backgroundcolor, textcolor) {
            $.ajax("/addTag", {
                data: {
                    work_id: '{{ work.work_id }}',
                    tagname: tagname,
                    backgroundcolor:backgroundcolor,
                    textcolor:textcolor
                }
            }).then(
                function success(name) {
                },
                function fail(data, status) {
                    alert('{% trans "Request failed. Returned status : " %}' + status);
                }
            )
        };
        function ajaxRemoveTagRequest(tagname) {
            actionurl = ""
            $.ajax("/removeTag", {
                data: {
                    work_id: '{{ work.work_id }}',
                    tagname: tagname
                }
            }).then(
                function success(name) {
                },
                function fail(data, status) {
                    alert('{% trans "Request failed. Returned status : " %}' + status);
                }
            )
        };
        function convertText(type, word){
            const selfstartregex = /\[s:s:[0-9]{1,}\]/gi;
            const selfendregex = /\[s:e:[0-9]{1,}\]/gi;
            const googlestartregex = /\[g:s:[0-9]{1,}\]/gi;
            const googleendregex = /\[g:e:[0-9]{1,}\]/gi;
            const ignstartregex = /\[i:s:[0-9]{1,}\]/gi;
            const ignendregex = /\[i:e:[0-9]{1,}\]/gi;
            // Self Trans
            word = word.replace(selfstartregex, function(s) {
                number = s.match(/[0-9]{1,}/);
                return "<span class='highrighthistory_self madding-intext' data-toggle='tooltip' title='#TranslationNum#:"+number+"\nDouble Click for delete' ondblclick='deleteConfirmation("+number+",\"self\")'>";
            })
            word = word.replace(selfendregex, "</span>");
            // Google Trans
            word = word.replace(googlestartregex, function(s) {
                number = s.match(/[0-9]{1,}/);
                return "<span class='highrighthistory_google madding-intext' data-toggle='tooltip' title='#TranslationNum#:"+number+"\nDouble Click for delete' ondblclick='deleteConfirmation("+number+",\"google\")'>";
            })
            word = word.replace(googleendregex, "</span>");

            word = word.replace(ignstartregex, function(s) {
                number = s.match(/[0-9]{1,}/);
                return "<span class='highrighthistory_ignore madding-intext' data-toggle='tooltip' title='#TranslationNum#:"+number+"\nDouble Click for delete' ondblclick='deleteConfirmation("+number+",\"ignore\")'>";
            })
            word = word.replace(ignendregex, "</span>");

            if(type == 1){
                $('#wordsOriginalAll').summernote('reset');
                $('#wordsOriginalAll').summernote('pasteHTML', word);
            }else{
                $("#wordsTranslatedAll").html(word);
            }
        }
        var historynumber = 0
        function deleteConfirmation(number, deletetype){
            historynumber = number;
            if (deletetype=='google')
                $('#modal-GoogleDeleteHistory').modal('show');
            else if (deletetype=='self')
                $('#modal-SelfDeleteHistory').modal('show');
            else if (deletetype=='ignore')
                $('#modal-IgnoreDeleteHistory').modal('show');
        }
        function deleteHistory(){
            $.ajax("/deleteHistory", {
                data: {
                    work_id: '{{ work.work_id }}',
                    historyNum: historynumber
                }
            }).then(
                function success(data) {
                    wordsOriginal = data.wordsOriginal;
                    $("#wordsOriginalAll").val(wordsOriginal);
                    wordsOriginal = $("#wordsOriginalAll").val();
                    convertText(1, data.wordsOriginal);
                    convertText(2, data.wordsTranslated);
                    $('#progress').text(data.progress);
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#modal-SelfDeleteHistory').modal('hide');
                    $('#modal-GoogleDeleteHistory').modal('hide');
                    $('#modal-IgnoreDeleteHistory').modal('hide');
                },
                function fail(data, status) {
                    alert('{% trans "Request failed. Returned status : " %}' + status);
                }
            )
        }
    </script>
{% endblock javascripts %}
