{% extends "app/common_base_site.html" %}
{% load i18n %}

{% block title %}#PageTitle_WorkAdd#{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="content-wrapper workdetail">
    <section class="content">
        <form id="workform" class="form-inline" action="/worksave" method="post">
            {% csrf_token %}
            <div class="container-fluid" style="padding-top:10px;">
                <div class="card">
                    <div class="card-header h6 sitecolor-bcolor">{% trans "Create a new Work" %}</div>
                    <div class="card-body">
                        <div class="form-row" style="margin-left: 0px; margin-bottom: 6px;">
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color">{% trans "Title" %}</span></div>
                                    <input type="text" class="form-control editableColor" id="workTitle" name="workTitle" value="{{ work.workTitle }}" style="width:100%;   "/>
                                </div>
                            </div>
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color">{% trans "language" %}</span></div>
                                    <select class="form-control editableColor" id="lc_src" name="lc_src"  readonly style="min-width:150px; background-color: #fbfbf3;">
                                        <option id="lc_src_selected" value="{{ selectedlang.srcValue }}" selected>{{ selectedlang.srcName.displaylang }}</option>
                                    </select>
                                    <select class="form-control" id="lc_tgt" name="lc_tgt"  readonly style="min-width:150px; background-color: #fbfbf3;">
                                        <option id="lc_tgt_selected" value="{{ selectedlang.tgtValue }}" selected>{{ selectedlang.tgtName.displaylang }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-2" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color">{% trans "ETA" %}</span></div>
                                    <input type="text" id="eta" name="eta" class="form-control editableColor" value="{{ work.eta|date:"Y/m/j" }}"/>
                                    <div class="input-group-append" data-target="#eta" data-toggle="datepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-left: 0px; margin-bottom: 6px;">
                            <div class="form-group col-4" style="margin-right:10px;">
                                <div class="input-group" style="width:100%">
                                    <div class="input-group-prepend"><span class="input-group-text input-label-color">{% trans "Tags" %}</span></div>
                                    <input type="text" class="form-control editableColor" id="tags" name="tags" value=""/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <textarea rows="10" class="form-control editableColor prewrap textArea" style="margin-bottom:100px; width:100%; min-height: 200px;" id="wordsOriginal" name='wordsOriginal' oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)">{{ work.wordsOriginal }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="work_id" name="work_id" value="{{ work.id }}"/>
            <input type="hidden" id="tagsinfo" name="tagsinfo" />
            <input type="hidden" id="status" name="status" />
        </form>
    </section>
</div>
<div class="modal fade top" id="modal-SelectLang">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary">
        <div class="modal-content">
            <div class="modal-header sitecolor-bcolor">
                <h4 class="modal-title">{% trans "Language Selection" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for lng in langs %}
                        <div class="col-sm-4 selectedLang" data-id="{{ lng.lc }}">{{ lng.displaylang }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "CloseModal" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <script>
        var tokens = []
        function submitAction(status) {
            $('#tagsinfo').val(JSON.stringify(tokens));
            $('#status').val(status);
            $('#workform').submit();
        }
        var targetElement = ""
        $(document).ready(function() {
            $('#lc_src').on('click', function(){
                targetElement = 'lc_src_selected'
                $('#modal-SelectLang').modal();
            });
            $('#lc_tgt').on('click',function(){
                targetElement = 'lc_tgt_selected'
                $('#modal-SelectLang').modal();
            });
            $(document).on('click','.selectedLang',function(){
                var option_text = $(this).text();
                var option_val = $(this).data("id");
                $('#'+targetElement).text(option_text).val(option_val);
                $('#modal-SelectLang').modal('hide');
            });
            $('#eta').datepicker({
                dateFormat: 'yy/mm/dd'
            });
            $('[data-toggle=datepicker]').each(function () {
                var target = $(this).data('target') || '';
                if (target) {
                    $(target).datepicker();
                    $(this).bind("click", function () {
                        $(target).datepicker("show");
                    });
                }
            });
            var worktags = JSON.parse("{{ worktags  | safe | escapejs }}");
            var worktagsArr = [];
            for(let i in worktags){
                worktagsArr.push(worktags[i].tag__tagname);
            }
            var tags = JSON.parse("{{ tags  | safe | escapejs }}");
            var tagsource = [];
            for(var vals of tags){
                tagsource.push(vals.tagname);
            }
            $('#tags')
                .on('tokenfield:createtoken', function (event) {
                    var existingTokens = $(this).tokenfield('getTokens');
                    $.each(existingTokens, function(index, token) {
                        if (token.value === event.attrs.value){
                            event.preventDefault();
                            return false;
                        }
                    })
                })
                .on('tokenfield:createdtoken', function(e) {
                    value = e.attrs.value;
                    bgcolor = '#aaaaaa';
                    textcolor = '#ffffff';
                    for(var tag of tags){
                        if (tag.tagname == value){
                            bgcolor = tag.backgroundcolor;
                            textcolor = tag.textgroundcolor;
                        }
                    }
                    $(e.relatedTarget).addClass('badge');
                    $(e.relatedTarget).css('background-color', bgcolor);
                    $(e.relatedTarget).css('color', textcolor);
                    var vals = { tagname: value, backgroundcolor: bgcolor, textcolor : textcolor }
                    tokens.push(vals);
                }).on('tokenfield:removedtoken', function(e) {
                    var i = 0;
                    for(var tag of tokens){
                        if(tag.tagname == e.attrs.value){
                            if ("{{ work.work_id }}" != "")
                                ajaxRemoveTagRequest(e.attrs.value);
                            tokens.splice(i, 1);
                            break;
                        }
                        i++;
                    }
                }).on('tokenfield:edittoken', function(e) {
                    e.preventDefault();
                })
                .tokenfield({
                    tokens:worktagsArr,
                    autocomplete: {
                        source: tagsource,
                        delay: 100
                    },
                    showAutocompleteOnFocus: true,
                    writeable : false
            });
        });
        function ajaxRemoveTagRequest(tagname) {
            actionurl = ""
            $.ajax("/removeTag", {
                data: {
                    work_id: '{{ work.work_id }}',
                    tagname: tagname
                }
            }).then(
                function success(name) {
                },
                function fail(data, status) {
                    alert('{% trans "Request failed. Returned status : " %}' + status);
                }
            )
        };
    </script>
{% endblock javascripts %}
