{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> {% trans "#TotalTranslationRequest#" %}</span>
        <div class="count">2,500</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> {% trans "#TotalTranslatedWords#" %}</span>
        <div class="count">1,230,000</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> {% trans "#GlossaryCount#" %}</span>
        <div class="count green">2,500</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{% trans "#TranslationRequestList#" %}</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">JobID</th>
                    <th style="width: 20%">タイトル</th>
                    <th>言語ペア</th>
                    <th>文字数</th>
                    <th>品質</th>
                    <th>料金</th>
                    <th>ステータス</th>
                    <th>納期</th>
                    <th>作成日時</th>
                    <th style="width: 20%">#Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for res in response.jobs %}
                  <tr>
                    <td>{{ res.job_id }}</td>
                    <td>{{ res.slug }}</td>
                    <td>{{ res.lc_src }} -> {{ res.lc_tgt }}</td>
                    <td>{{ res.unit_count }}</td>
                    <td>{{ res.tier }}</td>
                    <td>{{ res.credits }}　{{ res.currency }}</td>
                    <td>{{ res.status }}</td>
                    <td>{{ res.eta }}</td>
                    <td>{{ res.ctime }}</td>
                    <td>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">Project Name</th>
                    <th>Team Members</th>
                    <th>Project Progress</th>
                    <th>Status</th>
                    <th style="width: 20%">#Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#</td>
                    <td>
                      <a>Pesamakini Backend UI</a>
                      <br />
                      <small>Created 01.01.2015</small>
                    </td>
                    <td>
                      <ul class="list-inline">
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                      </ul>
                    </td>
                    <td class="project_progress">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                      </div>
                      <small>77% Complete</small>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs">Success</button>
                    </td>
                    <td>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                  </tr>
                  <tr>
                    <td>#</td>
                    <td>
                      <a>Pesamakini Backend UI</a>
                      <br />
                      <small>Created 01.01.2015</small>
                    </td>
                    <td>
                      <ul class="list-inline">
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                          <img src="/static/images/user.png" class="avatar" alt="Avatar">
                        </li>
                      </ul>
                    </td>
                    <td class="project_progress">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                      </div>
                      <small>60% Complete</small>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs">Success</button>
                    </td>
                    <td>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <div id="mainb" style="height:350px;"></div>

            </div>
          </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
